.container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.flex-box-container img:hover {
    box-shadow: 5px 10px 8px #888888;
}